.container {
   display: block;
   position: absolute;
   transform-origin: 0 0;
   left: 50%;
   top: 50%;
   transform: scale(0.4, 0.7) translate3d(0, 0, 0.1px);
   width: 10px;
   height: 10px;
   background: #eee;
   will-change: transform;
   -webkit-backface-visibility: hidden;
   -webkit-perspective: 1000;
   /*transition: transform linear 1s*/
}
